# Shark config file
# $ string
# @ array

# sprite

$sprite_factory                      = generic_sprite

@$sprite_scripts                     = Chicken.as;
$sprite_texture                      = Chicken.png
s32_sprite_frame_width               = 16
s32_sprite_frame_height              = 16
f32 sprite_offset_x                  = 0
f32 sprite_offset_y                  = 3

	$sprite_gibs_start               = *start*

	$gib_type                                     = predefined
	$gib_style                                    = flesh
	u8 gib_count                                  = 1
	@u8 gib_frame                                 = 4; 5; 6; 7;
	f32 velocity                                  = 25.0
	f32 offset_x                                  = 10.0
	f32 offset_y                                  = 0.0

	$gib_type                                     = predefined
	$gib_style                                    = flesh
	u8 gib_count                                  = 1
	@u8 gib_frame                                 = 1; 2; 3; 4;
	f32 velocity                                  = 10.0
	f32 offset_x                                  = 0.0
	f32 offset_y                                  = 0.0

	$sprite_gibs_end                 = *end*

  $sprite_animation_start            = *start*

   # default # idle
  $sprite_animation_idle_name                  = idle
  u16 sprite_animation_idle_time               = 5
  u8_sprite_animation_idle_loop                = 0
  @u16 sprite_animation_idle_frames            = 0;

  # walk
  $sprite_animation_walk_name                  = walk
  u16 sprite_animation_walk_time               = 5
  u8_sprite_animation_walk_loop                = 1
  @u16 sprite_animation_walk_frames            = 1;2;3;

  # peck
  $sprite_animation_peck_name                  = peck
  u16 sprite_animation_peck_time               = 3
  u8_sprite_animation_peck_loop                = 1
  @u16 sprite_animation_peck_frames            = 8;8;9;10;0;

  # peck
  $sprite_animation_peck_name                  = peck_twice
  u16 sprite_animation_peck_time               = 3
  u8_sprite_animation_peck_loop                = 1
  @u16 sprite_animation_peck_frames            = 8;8;8;9;10;9;10;0;

  # fly
  $sprite_animation_fly_name                  = fly
  u16 sprite_animation_fly_time               = 3
  u8_sprite_animation_fly_loop                = 1
  @u16 sprite_animation_fly_frames            = 12;13;14;15;


  $sprite_animation_end              = *end*

# shape

$shape_factory                       = box2d_shape

@$shape_scripts                      =
f32 shape_mass                       = 15.0
f32 shape_radius                     = 5.0
f32 shape_friction                   = 0.1
f32 shape_elasticity                 = 0.3
f32 shape_buoyancy                   = 1.55
f32 shape_drag                       = 0.6
bool shape_collides                  = yes
bool shape_ladder                    = no
bool shape_platform                  = no
 #block_collider
@f32 verticesXY                      =
u8 block_support                     = 0
bool block_background                = no
bool block_lightpasses               = no
bool block_snaptogrid                = no

$movement_factory                    = generic_movement
@$movement_scripts                   = LandAnimal.as;

$brain_factory                       = generic_brain
@$scripts                            = AnimalBrain.as;

$attachment_factory                   = box2d_attachment
@$attachment_scripts                  =
# name; pixel offset (from center) X; offset Y; socket/plug 0/1; controller; radius
@$attachment_points                   = PICKUP; -1; 5; 1; 0; 0;

$inventory_factory                   =

# general

$name                                = chicken
@$scripts                            = FleshHitEffects.as;
									   FleshHit.as;
									   LandAnimal.as;
									   Chicken.as;
f32 health                           = 2.0
# looks & behaviour inside inventory
$inventory_name                      = Chicken
$inventory_icon                      = -             # default
u8 inventory_icon_frame              = 0
u8 inventory_icon_frame_width        = 16
u8 inventory_icon_frame_height       = 16
u8 inventory_used_width              = 1
u8 inventory_used_height             = 1
u8 inventory_max_stacks              = 1
