# Font Config File

# most of these colors aren't actually used TODO:...
backgroundcolor = 187; 45; 45; 45
outlinecolor = 157; 125; 190; 190
buttoncolor = 195; 45; 45; 45
buttonoutlinecolor = 157; 255; 255; 255
buttonfontcolor = 255; 220; 220; 220
buttonfonthovercolor = 255; 235; 255; 235
errorcolor = 255; 120; 242; 20
shadowcolor = 110; 1; 5; 13
gaugecolor = 255; 254; 222; 228
inventoryhovercolor = 255; 20; 20; 20

# ingame texts
guiFont = GUI/Fonts/DejaVu/DejaVuSans-Bold.ttf 
guiFontTTFSize = 12
guiFontTTFAntialias = true

consoleFont = GUI/Fonts/commodore.png
consoleFontTTFSize = 0
consoleFontTTFAntialias = true

introFont = GUI/Fonts/DejaVu/DejaVuSans-Bold.ttf
introFontTTFSize = 16
introFontTTFAntialias = true

# ingame large captions
hudFont = GUI/Fonts/DejaVu/DejaVuSans-Bold.ttf
hudFontTTFSize = 16
hudFontTTFAntialias = true

menuFont = GUI/Fonts/DejaVu/DejaVuSans-Bold.ttf
menuFontTTFSize = 16
menuFontTTFAntialias = true

menuTextFont = GUI/Fonts/DejaVu/DejaVuSans.ttf
menuTextFontTTFSize = 10
menuTextFontTTFAntialias = true

menuOptionFont = GUI/Fonts/DejaVu/DejaVuSans.ttf
menuOptionFontTTFSize = 10
menuOptionFontTTFAntialias = true

chatConsoleFont = GUI/Fonts/DejaVu/DejaVuSans.ttf
chatConsoleFontTTFSize = 10
chatConsoleFontTTFAntialias = true

# Config file for the GUI Skin (CImageGUISkin)
#
# Source border is the border width (in pixels) on the texture.
# Dest border is the border width on the screen (also in pixels).
#
# .Texture = filename
# .SrcBorder = top,left,bottom,right
# .Color = alpha,red,green,blue

Button.Texture = GUI/DarkMicroStone.png
Button.SrcBorder=6,6,6,6

ButtonPressed.Texture = GUI/DarkMicroStone.png
ButtonPressed.SrcBorder=6,6,6,6
ButtonPressed.Color=255,196,196,196

SunkenPane.Texture = GUI/BorderStone.png
SunkenPane.SrcBorder=6,6,6,6
SunkenPane.DstBorder=6,6,6,6

Pane.Texture = GUI/SimpleStone.png
Pane.SrcBorder=6,6,6,6

Window.Texture = GUI/SimpleStone.png
Window.SrcBorder=6,6,6,6

ProgressBar.Texture = GUI/DarkMicroStone.png
ProgressBar.SrcBorder=6,6,6,6

ProgressBarFilled.Texture = GUI/SimpleStone.png
ProgressBarFilled.SrcBorder=6,6,6,6

Rectangle.Texture = GUI/SimpleStone.png
Rectangle.SrcBorder=6,6,6,6

ToolBar.Texture = GUI/FramedStone.png
ToolBar.SrcBorder=6,6,6,6

# ingame GUI elements made to not break main menu graphics
# UButton, UButtonPressed, UButtonHover, UPane, USunkenPane, UFramedPane, UProgressBar, URectangle, UWindow;

GameButton.Texture = GUI/SimpleStone.png
GameButton.SrcBorder=6,6,6,6

GameButtonPressed.Texture = GUI/BorderStone.png
GameButtonPressed.SrcBorder=6,6,6,6
GameButtonPressed.Color=255,212,212,212

GameButtonHover.Texture = GUI/PolishedStone.png
GameButtonHover.SrcBorder=6,6,6,6

GamePane.Texture = GUI/SimpleStone.png
GamePane.SrcBorder=6,6,6,6

GameSunkenPane.Texture = GUI/BorderStone.png
GameSunkenPane.SrcBorder=6,6,6,6

GameFramedPane.Texture = GUI/FramedStone.png
GameFramedPane.SrcBorder=6,6,6,6

GameProgressBar.Texture = GUI/SimpleStone.png
GameProgressBar.SrcBorder=6,6,6,6

GameRectangle.Texture = GUI/DarkMicroStone.png
GameRectangle.SrcBorder=6,6,6,6

GameWindow.Texture = GUI/ChatTexture.png
GameWindow.SrcBorder=8,8,8,8

Bubble.Texture = GUI/Bubble.png
Bubble.SrcBorder=6,6,6,6
