# Copy this file to Cache folder on your server to modify it

# name; admin only; sv_test only;
commands =
	help; 0; 0;
	tip; 0; 0;
	team; 0; 1;
	coins; 0; 1;
	heal; 0; 1;
	class; 0; 1;
	wood; 0; 1;
	stone; 0; 1;
	gold; 0; 1;
	allmats; 0; 1;
	bombs; 0; 1;
	allbombs; 0; 1;
	arrows; 0; 1;
	allarrows; 0; 1;
	fishies; 0; 1;
	chickens; 0; 1;
	seed; 0; 1;
	water; 1; 1;
	crate; 0; 1;
	scroll; 0; 1;
	bot; 1; 1;
	spawn; 0; 1;
	knight; 0; 1;
	archer; 0; 1;
	time; 0; 1;
	startgame; 1; 0;
	endgame; 1; 0;
	nextmap; 1; 0;
	restartmap; 1; 0;
	toggle color; 0; 0;
	moderate; 1; 0;
	report; 0; 0;
	#sharks; 0; 1;
	#bisons; 0; 1;

blacklisted_blobs =
	hall;         # grief
	shark;        # grief spam
	bison;        # grief spam
	necromancer;  # annoying/grief
	greg;         # annoying/grief
	ctf_flag;     # sound spam
	flag_base;    # sound spam + bedrock grief

whitelisted_classes =
	knight;
	archer;
	builder;
