# Runner config file
# $ string
# @ array

$sprite_factory                                   = generic_sprite

@$sprite_scripts                                  = StandardControls.as;
                                                    Trader.as;
													                          TradingMenu.as;
                                                    EmoteBubble.as;
                                                    FireAnim.as;
                                                    RunnerFootSteps.as;													

$sprite_texture                                   = TraderMale.png
s32_sprite_frame_width                            = 16
s32_sprite_frame_height                           = 16
f32 sprite_offset_x                               = 0
f32 sprite_offset_y                               = 0

    $sprite_gibs_start                            = *start*

    $gib_type                                     = predefined
    $gib_style                                    = flesh
    u8 gib_count                                  = 7
    @u8 gib_frame                                 = 4; 5; 6; 7;
    f32 velocity                                  = 25.0
    f32 offset_x                                  = 0.0
    f32 offset_y                                  = 0.0

    $gib_type                                     = predefined
    $gib_style                                    = flesh
    u8 gib_count                                  = 3
    @u8 gib_frame                                 = 1; 2; 3; 4;
    f32 velocity                                  = 10.0
    f32 offset_x                                  = 0.0
    f32 offset_y                                  = 0.0

    $sprite_gibs_end                              = *end*

  $sprite_animation_start                         = *start*

  # default
  $sprite_animation_default_name                  = default
  u16 sprite_animation_default_time               = 0
  u8_sprite_animation_default_loop                = 0
  @u16 sprite_animation_default_frames            = 0;

  $sprite_animation_walk_name                  = walk
  u16 sprite_animation_walk_time               = 4
  u8_sprite_animation_walk_loop                = 1
  @u16 sprite_animation_walk_frames            = 1; 2; 3;

  $sprite_animation_dead_name                  = dead
  u16 sprite_animation_dead_time               = 0
  u8_sprite_animation_dead_loop                = 0
  @u16 sprite_animation_dead_frames            = 4; 5;

  $sprite_animation_end                           = *end*

$shape_factory                                    = box2d_shape

@$shape_scripts                                   =
f32 shape_mass                                    = 68.0
f32 shape_radius                                  = 7.5
f32 shape_friction                                = 0.07
f32 shape_elasticity                              = 0.0
f32 shape_buoyancy                                = 0.8
f32 shape_drag                                    = 0.1
bool shape_collides                                  = yes
bool shape_ladder                                 = no
bool shape_platform                               = no
 #block_collider
@f32 verticesXY                                   =
u8 block_support                                  = 0
bool block_background                             = no
bool block_lightpasses                            = no
bool block_snaptogrid                             = no

$movement_factory                                 = generic_movement
@$movement_scripts                                = FaceAimPosition.as;
                                                    HOTHOTHOT.as;
                                                    TraderMovementInit.as;
													                          RunnerMovement.as;

$brain_factory                                    = generic_brain
@$scripts                                         = TraderBrain.as;

$attachment_factory                               = box2d_attachment
@$attachment_scripts                              =
# name; pixel offset (from center) X; offset Y; socket/plug 0/1; controller; radius
@$attachment_points                               = PICKUP; -5; 3; 1; 0; 24;

$inventory_factory                                = generic_inventory
@$inventory_scripts                               = 
u8 inventory_slots_width                          = 2
u8 inventory_slots_height                         = 2
$inventory_name                                   = Backpack

# general

$name                                             = trader
@$scripts                                         = RunnerDefault.as;
                                                    StandardControls.as;
                                                    DetectLadder.as; #resets ladder, put before other code that uses ladder
                                                    Trader.as;
                                                    RunnerCollision.as;
                                                    IsFlammable.as;
                                                    EmoteHotkeys.as;
                                                    KnockBack.as;
                                                    RunnerKnock.as;
                                                    FleshHitEffects.as;
                                                    FallDamage.as;
                                                    Stomp.as;
                                                    FallSounds.as;
                                                    RunnerDrowning.as; # after redflash so it overrides the flash
                                                    FleshHit.as; # this gibs so leave it last
                                                    TradingMenu.as;													
f32 health                                        = 1.5
# looks & behaviour inside inventory
$inventory_name                                   = Trader
$inventory_icon                                   = -             # default
u8 inventory_icon_frame                           = 0
u8 inventory_icon_frame_width                     = 0
u8 inventory_icon_frame_height                    = 0
u8 inventory_used_width                           = 3
u8 inventory_used_height                          = 2
u8 inventory_max_stacks                           = 0
