
# emote hotkey bindings
# look up the names in
# EmotesCommon.as
# to rebind your keys

emote_1 = attn;
emote_2 = smile;
emote_3 = frown;
emote_4 = mad;
emote_5 = laugh;
emote_6 = wat;
emote_7 = troll;
emote_8 = disappoint;
emote_9 = ladder;

emote_10 = flex;
emote_11 = down;
emote_12 = smug;
emote_13 = left;
emote_14 = okhand;
emote_15 = right;
emote_16 = thumbsup;
emote_17 = up;
emote_18 = thumbsdown;
