#variables for ctf

	#spawn time in seconds
	spawn_time = 3
	
	#minimum number of players to be in each time before the game starts
	minimum_players_in_team = 0;

	#amount of pre-game time once there are enough players ingame
	warmup_time = 5; #seconds
	
	#amount of time before the game ends in a tie
	#anything less than 0 means the game never ends
	game_time = -1; #minutes
	
	#whether to scramble teams each game
	scramble_teams = false;
