# Seed config file
# $ string
# @ array

# sprite

$sprite_factory                        = generic_sprite

@$sprite_scripts                       =
$sprite_texture                        = Seed.png
s32_sprite_frame_width                 = 8
s32_sprite_frame_height                = 8
f32 sprite_offset_x                    = 0
f32 sprite_offset_y                    = 1

	$sprite_gibs_start                 = *start*

	$gib_type                          = predefined
	$gib_style                         = wood
	u8_gib_count                       = 3					#number of gibs
	@u8_gib_frame                      = 4; 2; 3;
	f32 velocity                       = 5.0
	f32 offset_x                       = 0.0
	f32 offset_y                       = 0.0
	
	$sprite_gibs_end                   = *end*
									 
  $sprite_animation_start              = *start*
  
  # default
  $sprite_animation_default_name       = default
  u16 sprite_animation_default_time    = 0
  u8_sprite_animation_default_loop     = 0
  @u16 sprite_animation_default_frames = 0; 1
  
  $sprite_animation_end                = *end*
  							    
# shape

$shape_factory                         = box2d_shape

@$shape_scripts                        =
f32 shape_mass                         = 0.2
f32 shape_radius                       = 3.5
f32 shape_friction                     = 1.1
f32 shape_elasticity                   = 0.0
f32 shape_buoyancy                     = 0.8
f32 shape_drag                         = 0.3
bool shape_collides                    = yes
bool shape_ladder                      = no
bool shape_platform                    = no
 #block_collider
@f32 verticesXY                        =
u8 block_support                       = 0
bool block_background                  = no
bool block_lightpasses                 = no
bool block_snaptogrid                  = yes

$movement_factory                      = 
$brain_factory                         =

$attachment_factory                    = box2d_attachment

@$attachment_scripts                   = 
# name; pixel offset (from center) X; offset Y; socket/plug 0/1; controller; radius
@$attachment_points                    = PICKUP; 0; 0; 1; 0; 0;	
					  
$inventory_factory                     =

# general

$name                                  = seed
@$scripts                              = Seed.as;
                                         IgnoreDamage.as;
f32 health                             = 1.0
# looks & behaviour inside inventory
$inventory_name                        = Seed
$inventory_icon                        = -
u8 inventory_icon_frame                = 0
u8 inventory_icon_frame_width          = 0
u8 inventory_icon_frame_height         = 0
u8 inventory_used_width                = 1
u8 inventory_used_height               = 1
u8 inventory_max_stacks                = 1
