# KAG mapcycle;
# maps for war mode
# 10 Maps in current WAR Pool

mapcycle =
# 8x
Maps/WAR/8x_HawksCieza.png;
# Geti
Maps/WAR/BlademireRidge.png;
Maps/WAR/DaviesPlains.png;
Maps/WAR/Juggernaut.png;
Maps/WAR/Jungle.png;
Maps/WAR/MiddleIsland.png;
Maps/WAR/MurkshireHills.png;
# MM
Maps/WAR/MM_Crises.png;
Maps/WAR/MM_EarthMoving.png;
Maps/WAR/MM_Islands.png;