# KAG mapcycle;
# maps for Challenge mode
# map_script.as (specific_map_to_load.png)


mapcycle = 		    	
	Rules/Challenge/Challenges/Challenge_KillAll.as (Maps/Challenge/Missions/KillemAll02.png);	
	Rules/Challenge/Challenges/Challenge_KillAll.as (Maps/Challenge/Missions/KillemAll01.png);			
	Rules/Challenge/Challenges/Challenge_Parkour.as (Maps/Challenge/Missions/Parkour01.png);	
	Rules/Challenge/Challenges/Challenge_Parkour.as (Maps/Challenge/Missions/Parkour02.png);
	Rules/Challenge/Challenges/Challenge_KillAll.as (Maps/Challenge/Missions/KillemAll03.png);	
	Rules/Challenge/Challenges/Challenge_Parkour.as (Maps/Challenge/Missions/Parkour03.png);  	
	Rules/Challenge/Challenges/Challenge_Parkour.as (Maps/Challenge/Missions/Parkour06.png);	
	Rules/Challenge/Challenges/Challenge_Parkour.as (Maps/Challenge/Missions/Parkour05.png);	
	Rules/Challenge/Challenges/Challenge_Parkour.as (Maps/Challenge/Missions/Parkour04.png);
	Rules/Challenge/Challenges/Challenge_Parkour.as (Maps/Challenge/Missions/Parkour07.png);
	Rules/Challenge/Challenges/Challenge_Save.as (Maps/Challenge/Missions/Save01.png);			
		