# Boat config file
# $ string
# @ array

# sprite

$sprite_factory                            = generic_sprite

@$sprite_scripts                           = SeatsGUI.as;
											 Wooden.as;
											 FireAnim.as;
											 Airship.as;
											 DynamicForegroundLayer.as;
$sprite_texture                            = Airship.png
s32_sprite_frame_width                     = 96
s32_sprite_frame_height                    = 56
f32 sprite_offset_x                        = 0
f32 sprite_offset_y                        = 0

	$sprite_gibs_start                     = *start*

	$gib_type                              = predefined
	$gib_style                             = wooden
	u8 gib_count                           = 12
	@u8 gib_frame                          = 4; 5; 6; 7;
	f32 velocity                           = 12.0
	f32 offset_x                           = -10.0
	f32 offset_y                           = 0.0
	
	$gib_type                              = predefined
	$gib_style                             = wooden
	u8 gib_count                           = 6
	@u8 gib_frame                          = 0; 1; 2; 3;
	f32 velocity                           = 9.0
	f32 offset_x                           = 0.0
	f32 offset_y                           = 0.0
	
	$gib_type                              = predefined
	$gib_style                             = wooden
	u8 gib_count                           = 6
	@u8 gib_frame                          = 4; 5; 6; 7;
	f32 velocity                           = 16.0
	f32 offset_x                           = 10.0
	f32 offset_y                           = 0.0
	
	$sprite_gibs_end                       = *end*
									 
  $sprite_animation_start                  = *start*
  
  # default
  $sprite_animation_default_name           = default
  u16 sprite_animation_default_time        = 0
  u8_sprite_animation_default_loop         = 0
  @u16 sprite_animation_default_frames     = 2; 6; 7; 

  $sprite_animation_end                    = *end*
  
# shape

$shape_factory                             = box2d_shape

@$shape_scripts                            = 
f32 shape_mass                             = 2000.0
f32 shape_radius                           = 0.0	# pickup radius
f32 shape_friction                         = 0.3
f32 shape_elasticity                       = 0.15
f32 shape_buoyancy                         = 0.8
f32 shape_drag                             = 0.5
bool shape_collides                        = yes
bool shape_ladder                          = no
bool shape_platform                        = no
 #block_collider
@f32 verticesXY                            =  #0; 0;
											  #1; 0;
											  #1; 1;
											  #0; 1;
											  11.0; 36.0; 
			   								  75.0; 36.0; 
			   								  69.0; 48.0;
			   								  17.0; 48.0;
u8 block_support                           = 0
bool block_background                      = no
bool block_lightpasses                     = no
bool block_snaptogrid                      = no

$movement_factory                          = 
$brain_factory                             =

$attachment_factory                        = box2d_attachment	 
@$attachment_scripts                       = 
# name; pixel offset (from center) X; offset Y; socket/plug 0/1; controller; radius
@$attachment_points                        =  FLYER;  -28;  7;  0; 1; 7;
										      FLYER;  -21;  7;  0; 1; 7;
											  FLYER;  -14;  7;  0; 1; 7;
											  FLYER;   -7;  7;  0; 1; 7;
											  FLYER;    0;  7;  0; 1; 7;
											  FLYER;    7;  7;  0; 1; 7;
											  VEHICLE; -8; -4;  0; 0; 0;	 
$inventory_factory                         = generic_inventory
@$inventory_scripts                        = 
u8 inventory_slots_width                   = 12
u8 inventory_slots_height                  = 5
$inventory_name                            = Boat Compartment

# general

$name                                      = airship
@$scripts                              = Seats.as;
										 DecayIfLeftAlone.as;
										 DecayIfFlipped.as;
										 WoodVehicleDamages.as;
										 Wooden.as;
										 HurtOnCollide.as;
										 GenericHit.as;		
										 Vehicle.as;	
										 Airship.as;		
										 VehicleConvert.as;
										 VehicleAttachment.as;
										 RunOverPeople.as;
										 SinkOnLowHealth.as;
										 FakeBoatCollision.as;
										 BoatCommon.as;   # put last for rowing sounds	
										 IsFlammable.as;
f32 health                                 = 10.0
# looks & behaviour inside inventory
$inventory_name                            = Airship
$inventory_icon                        = VehicleIcons.png
u8 inventory_icon_frame                = 2
u8 inventory_icon_frame_width          = 32
u8 inventory_icon_frame_height         = 32
u8 inventory_used_width                    = 0
u8 inventory_used_height                   = 0
u8 inventory_max_stacks                    = 0
