# Shark config file
# $ string
# @ array

# sprite

$sprite_factory                      = generic_sprite

@$sprite_scripts                     = Bison.as;
									   SeatsGUI.as;	
									   HealthBar.as;								   
$sprite_texture                      = Bison.png
s32_sprite_frame_width               = 48
s32_sprite_frame_height              = 32
f32 sprite_offset_x                  = 0
f32 sprite_offset_y                  = 0

	$sprite_gibs_start               = *start*
	
	$gib_type                                     = predefined
	$gib_style                                    = flesh
	u8 gib_count                                  = 7
	@u8 gib_frame                                 = 4; 5; 6; 7;
	f32 velocity                                  = 25.0
	f32 offset_x                                  = 10.0
	f32 offset_y                                  = 0.0
	
	$gib_type                                     = predefined
	$gib_style                                    = flesh
	u8 gib_count                                  = 7
	@u8 gib_frame                                 = 4; 5; 6; 7;
	f32 velocity                                  = 25.0
	f32 offset_x                                  = -10.0
	f32 offset_y                                  = 0.0
	
	$gib_type                                     = predefined
	$gib_style                                    = bone
	u8 gib_count                                  = 7
	@u8 gib_frame                                 = 4; 5; 6; 7;
	f32 velocity                                  = 20.0
	f32 offset_x                                  = 0.0
	f32 offset_y                                  = 0.0
	
	$gib_type                                     = predefined
	$gib_style                                    = flesh
	u8 gib_count                                  = 4
	@u8 gib_frame                                 = 1; 2; 3; 4;
	f32 velocity                                  = 10.0
	f32 offset_x                                  = 0.0
	f32 offset_y                                  = 0.0
	
	$sprite_gibs_end                 = *end*
	
  $sprite_animation_start            = *start*

   # default
  $sprite_animation_default_name                  = default
  u16 sprite_animation_default_time               = 4
  u8_sprite_animation_default_loop                = 1
  @u16 sprite_animation_default_frames            = 0;
  
  # idle
  $sprite_animation_idle_name                  = idle
  u16 sprite_animation_idle_time               = 0
  u8_sprite_animation_idle_loop                = 0
  @u16 sprite_animation_idle_frames            = 0;

  # walk
  $sprite_animation_walk_name                  = walk
  u16 sprite_animation_walk_time               = 6
  u8_sprite_animation_walk_loop                = 1
  @u16 sprite_animation_walk_frames            = 5;6;7;8;  
  
  # run
  $sprite_animation_run_name                  = run
  u16 sprite_animation_run_time               = 4
  u8_sprite_animation_run_loop                = 1
  @u16 sprite_animation_run_frames            = 5;6;7;8;  

  # dead
  $sprite_animation_dead_name                  = dead
  u16 sprite_animation_dead_time               = 0
  u8_sprite_animation_dead_loop                = 0
  @u16 sprite_animation_dead_frames            = 1;
  
  $sprite_animation_end              = *end*
  
# shape

$shape_factory                       = box2d_shape

@$shape_scripts                      = 
f32 shape_mass                       = 500.0
f32 shape_radius                     = 0.0
f32 shape_friction                   = 0.1
f32 shape_elasticity                 = 0.3
f32 shape_buoyancy                   = 1.55
f32 shape_drag                       = 0.6
bool shape_collides                  = yes
bool shape_ladder                    = no
bool shape_platform                  = no
 #block_collider
@f32 verticesXY                      = 11.0; 12.0;  
									   40.0; 12.0;
									   40.0; 21.0;
									   26.0; 31.0;
									   19.0; 31.0;
									   11.0; 24.0; 
u8 block_support                     = 0
bool block_background                = no
bool block_lightpasses               = no
bool block_snaptogrid                = no

$movement_factory                    = generic_movement
@$movement_scripts                   = LandAnimal.as;

$brain_factory                       = generic_brain
@$scripts                            = AnimalBrain.as;

$attachment_factory                  = box2d_attachment
@$attachment_scripts                 = 
# name; pixel offset (from center) X; offset Y; socket/plug 0/1; controller; radius
@$attachment_points                  = DRIVER; -2; -10; 0; 1; 12;

$inventory_factory                   = 
					  
# general

$name                                = bison
@$scripts                            = AnimalRiding.as;
									   Seats.as;									  
									   GibIntoSteaks.as;
									   FleshHitEffects.as;
									   FleshHit.as;
									   LandAnimal.as;
									   Bison.as;
									   RegenHealth.as;
f32 health                           = 12.0
# looks & behaviour inside inventory
$inventory_name                      = Wisent
$inventory_icon                      = -             # default
u8 inventory_icon_frame              = 0
u8 inventory_icon_frame_width        = 0
u8 inventory_icon_frame_height       = 0
u8 inventory_used_width              = 0
u8 inventory_used_height             = 0
u8 inventory_max_stacks              = 0
