# Door config file
# $ string
# @ array

# sprite

$sprite_factory                            = generic_sprite

@$sprite_scripts                           = Wooden.as;
											 FireAnim.as;
$sprite_texture                            = WarboatDoor.png
s32_sprite_frame_width                     = 16
s32_sprite_frame_height                    = 16
f32 sprite_offset_x                        = 0
f32 sprite_offset_y                        = 0

	$sprite_gibs_start                     = *start*

	$gib_type                              = predefined
	$gib_style                             = wood
	u8 gib_count                           = 7
	@u8 gib_frame                          = 4; 5; 6; 7;
	f32 velocity                           = 10.0
	f32 offset_x                           = 0.0
	f32 offset_y                           = 0.0

	$sprite_gibs_end                       = *end*

  $sprite_animation_start                  = *start*

  # default
  $sprite_animation_default_name           = default
  u16 sprite_animation_default_time        = 0
  u8_sprite_animation_default_loop         = 0
  @u16 sprite_animation_default_frames     = 0;

  # open
  $sprite_animation_open_name              = open
  u16 sprite_animation_open_time           = 4
  u8_sprite_animation_open_loop            = 0
  @u16 sprite_animation_open_frames        = 1; 2; 3;

  # close
  $sprite_animation_close_name             = close
  u16 sprite_animation_close_time          = 3
  u8_sprite_animation_close_loop           = 0
  @u16 sprite_animation_close_frames       = 2; 1; 0;

  # destruction
  $sprite_animation_destruction_name       = destruction
  u16 sprite_animation_destruction_time    = 0
  u8_sprite_animation_destruction_loop     = 0
  @u16 sprite_animation_destruction_frames = 4; 5; 6;

  $sprite_animation_end                    = *end*

# shape

$shape_factory                             = box2d_shape

@$shape_scripts                            =
f32 shape_mass                             = 200.0
f32 shape_radius                           = 0.0	# pickup radius
f32 shape_friction                         = 0.3
f32 shape_elasticity                       = 0.0
f32 shape_buoyancy                         = 0.8
f32 shape_drag                             = 0.2
bool shape_collides                        = yes
bool shape_ladder                          = no
bool shape_platform                        = no
 #block_collider
@f32 verticesXY                            = 4.0; 0.0;
			   								 12.0; 0.0;
			   								 12.0; 16.0;
			   								 4.0; 16.0;
u8 block_support                           = 3
bool block_background                      = no
bool block_lightpasses                     = yes
bool block_snaptogrid                      = yes

$movement_factory                          =
$brain_factory                             =

$attachment_factory                        = generic_attachment

@$attachment_scripts                       =
# name; pixel offset (from center) X; offset Y; socket/plug 0/1; controller; radius
@$attachment_points                        = 

$inventory_factory                         =

# general

$name                                      = warboat_door
@$scripts                                  = SwingDoor.as;
											 WoodStructureHit.as;
											 Wooden.as;
											 GenericHit.as;
											 DieOnCollapse.as;
f32 health                                 = 6.0
# looks & behaviour inside inventory
$inventory_name                            = Large Door
$inventory_icon                            = -
u8 inventory_icon_frame                    = 0
u8 inventory_icon_frame_width              = 0
u8 inventory_icon_frame_height             = 0
u8 inventory_used_width                    = 0
u8 inventory_used_height                   = 0
u8 inventory_max_stacks                    = 0
