# tdm base config

	###############################
	# notes to the curious
	#
	# spawnTimeSeconds 	= -1
	# killsPerPlayer 	= -1
	# dying_counts 		= true
	#
	#  		-> RTDM
	#
	# can also use
	# killsPerPlayer 	= 1
	# for "fair" mode (both teams need same # kills)
	#
	# spawnTimeSeconds 	= 4
	# killsPerPlayer 	= 2
	# dying_counts 		= false
	#
	#  		-> "Normal" TDM
	#
	###############################


	# how long to wait per-spawn
	spawnTimeSeconds	= -1

	# how many kills each player needs.
	# set negative to play sudden death
	# where everyone needs to be eliminated
	# to win

	killsPerPlayer 		= -1

	# whether all dying counts as a
	# kill for the other team
	dying_counts		= true

	# how long before the game
	warmUpTimeSeconds 	= 1

	# how long the game runs for
	gameDurationMinutes = 2.5

	# whether to scramble each game
	scramble_teams		= true

	# whether to scramble the mapcycle
	#  0 = no
	#  1 = yes
	# -1 = let autoconfig decide
	scramble_maps 		= 1

	# how much to nerf fall damage for
	# easy movement (1.0 is normal)
	fall_dmg_nerf		= 1.2

# tdm coin economy

	# coins for performing various actions
	# during the game - can be spent at trader.

	coinsOnDamageAdd 	= 2
	coinsOnKillAdd 		= 10
	coinsOnDeathLose 	= 20

	# players get at least this amount of coins
	# each round - if they have more then they
	# keep the extra though.
	# doesn't simply add to avoid massive income

	minCoinsOnRestart 	= 20

	# maximum coins you can have
	# if you have more than this,
	# your coins will get cut down

	# applied after min, so if
	# min > max, you'll have max coins
	# on spawn.

	maxCoinsOnRestart 	= -1


# tdm trading

	# enable/disable shops completely

	spawn_traders_ever	= true

	# menu size

	trade_menu_width 	= 3
	trade_menu_height	= 5

	# costs
	# (you cant add custom items by default,
	#  see TDM_Trading for how it's done)

	# set to <= 0 to remove the item
	# from the trading menu completely

	cost_mat_bombs          = 20
	cost_mat_waterbombs     = 40
	cost_keg                = 80
	cost_mine               = 50

	cost_mat_arrows         = 10
	cost_mat_waterarrows    = 40
	cost_mat_firearrows     = 30
	cost_mat_bombarrows     = 50

	cost_boulder            = 50
	cost_crate              = 50
	cost_burger             = 50
	cost_sponge             = 20

	cost_drill              = -1
	cost_mounted_bow        = -1
	cost_catapult           = -1
	cost_ballista           = -1
